@font-face {
    font-family: myfirstfont;
    src: url(Quicksand-font-1/static/Quicksand-Regular.ttf);
}
@font-face {
    font-family: myfirstfont;
    src: url(Quicksand-font-1/static/Quicksand-SemiBold.ttf);
    font-weight: bold;
}

body {
    background-color: rgb(244, 236, 236);
    font-family: myfirstfont;
}
.img1 {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background-color: black;
}
.img2 {
    position: relative;
    top: 5px;
    left: 20px;
}
.container {
    position: relative;
    padding: 20px 20px 10px 20px;
    background-color: white;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    border-top: 7px solid lightblue;
    height: 550px; 
    width: 500px;
}
.container > h2 {
    position: absolute;
    top: 0px;
    left: 30%;
    text-align: center;
}

input[type="radio"] {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    float: left;
}
#radio {
    font-size: 20px;
    margin-right: 40px;
    float: left;
    display: block;
    padding: 10px 5px 0px 10px;
}
#state {
    margin-left: 10px;
    font-size: 15px;
    color: rgb(156, 152, 152);
}
#dropdown {
    margin-top: 5px;
    width: 100%;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid lightgray;
    color: rgb(125, 122, 122);
    appearance: none;
    background-position: calc(100% - 12px) center !important;
    background: url("Images/icons/arrow-down.svg") no-repeat;
    font-size: 18px;
    font-weight: bold;
}
#username {
    font-family: myfirstfont;
    margin: auto;
    width: 96%;
    padding: 5px;
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid lightgray;
}
#password {
    font-family: myfirstfont;
    margin: auto;
    width: 96%;
    padding: 5px;
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid lightgray;
    background-position: calc(100% - 12px) center !important;
    background: url("Images/icons/preview.svg") no-repeat;
}
#forgot {
    padding-left: 320px;
    margin-top: 20px;
    color: rgb(156, 152, 152);
    line-height: 25px;
}
#remember {
    color: rgb(117, 111, 111);
    font-weight: bold;
    font-size: 18px;
    float: right;
    margin-right: 348px;
    padding-top: 1px;
}
button {
    background-color: rgb(126, 219, 126);
    border: 0;
    width: 200px;
    padding: 10px 10px;
    margin: 20px 100px 10px 150px;
    border-radius: 2px;
}
#about {
    position: fixed;
    bottom: 60px;
    width: 100%;
    text-align: center;
    color: rgb(132, 127, 127);
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(217, 207, 207);
    padding-top: 5px;
    display: flex;
    justify-content: center;
}
#footer-content {
    float: right;
    padding-left:20px;
    word-spacing: 3px;
    color: rgb(118, 113, 113);
}